@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Kumbh Sans", sans-serif;
    color: var(--grey500);
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey950: #1D2026; 
    --grey500: #69707D;
    --grey300 : #C3CAD9;
    --grey100 : #E4E9F2;
    --grey50 : #F6F8FD;

    /*Secondary color*/
    --orange500: #FF7E1B;
    --orange300: #FFAB6A;
}


/* -------------------- Typographie --------------------*/

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 600;
    color: var(--grey950);
}


/* -------------------- Body, Header & Main --------------------*/

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--grey50);
}

header, main {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 6rem 2rem;
    display: flex; 
    flex-direction: row;
}


/* -------------------- Buttons --------------------*/


/* -------------------- Navigation --------------------*/

.header-wrapper {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    align-items: center;
} 

header img:first-child {
    height: 2rem;
}

header img:nth-child(1) {
    height: 1.5rem;
} 

header img:nth-child(2) {
    height: 4rem;
    padding-left: 3rem;
} 

#desktop-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#desktop-menu li {
    display: inline-block;
    margin-left: 3rem;
}

#desktop-menu li a {
    text-decoration: none;
}

.basket-account-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

hr {
    border: 1px solid var(--grey100);
}

/* -------------------- Section Illustration --------------------*/

section {
    width: 50%;
}

.main-picture {
    width: 90%;
    border-radius: 1rem;
}

.secondary-pictures {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.secondary-pictures img {
    width: calc((100% - 4.5rem) / 4);
    border-radius: 1rem;
}


/* -------------------- Description and order section --------------------*/

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
}

section:nth-of-type(2) p:first-of-type {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
}

section:nth-of-type(2) p:nth-of-type(2) {
    margin: 2rem 0;
}

.initial-price {
    display: flex; 
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.initial-price span:first-of-type {
    color: var(--grey950);
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.initial-price span:nth-of-type(2) {
    background: var(--grey950);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    color: var(--grey50);
}

section p:nth-of-type(3){
    text-decoration: line-through;
    margin: 1rem 0;
    font-size: 0.9rem;
}




