@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Kumbh Sans", sans-serif;
    color: var(--grey500);
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey950: #1D2026; 
    --grey500: #69707D;
    --grey300 : #C3CAD9;
    --grey100 : #E4E9F2;
    --grey50 : #F6F8FD;

    /*Secondary color*/
    --orange500: #FF7E1B;
    --orange300: #FFAB6A;
}


/* -------------------- Typographie --------------------*/

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 600;
    color: var(--grey950);
}


/* -------------------- Body, Header & Main --------------------*/

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
}

header, main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

}

main {
    padding: 6rem 2rem;
    display: flex; 
    flex-direction: row;
}


/* -------------------- Navigation --------------------*/

.header-wrapper {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
}

#mobile-menu-closed button {
    border: none; 
    background-color: var(--white);
    display: none;
}

#mobile-menu-closed button img {
    height: 1.3rem;
    padding-top: 0.4rem;
    margin-right: 1rem;
}

.logo {
    height: 1.5rem !important;
} 

.avatar{
    height: 4rem;
    padding-left: 3rem;
} 

#desktop-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#desktop-menu li {
    display: inline-block;
    margin-left: 2.5rem;
    margin-top: 3px;
    border-bottom: 3px solid transparent;
    padding-bottom: 1rem;
}

#desktop-menu li:hover {
    border-bottom: 3px solid var(--orange500);
    padding-bottom: 1rem;
}

#desktop-menu li a {
    text-decoration: none;
}

.basket-account-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.basket-account-wrapper img:first-child {
    cursor: pointer;
}

hr {
    border: 1px solid var(--grey100);
}


/* -------------------- Section Illustration --------------------*/

section {
    width: 50%;
}

.main-image {
    position: relative;
}

.main-picture {
    width: 90%;
    border-radius: 1rem;
}

.secondary-pictures {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.secondary-pictures img {
    width: calc((100% - 4.5rem) / 4);
    border-radius: 1rem;
    cursor: pointer;
    border: 3px solid var(--white);
}

.secondary-pictures img:hover {
    border: 3px solid var(--orange500);
}

.slider-button {
    background-color: var(--white);
    opacity: 0.7;
    padding: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 90%;
    display: none;
}

.slider-button:first-of-type {
    position: absolute;
    top: 40%;
    left: 1.5rem;
}

.slider-button:nth-of-type(2) {
    position: absolute;
    top: 40%;
    right: 1.5rem;
}


/* -------------------- Description and order section --------------------*/

/* Wrapper */
section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem 0 4rem;
}

/* Surtitle */
section:nth-of-type(2) p:first-of-type {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
}

/* Description */
section:nth-of-type(2) p:nth-of-type(2) {
    margin: 2rem 0;
}

/* Price */
.initial-price {
    display: flex; 
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.initial-price span:first-of-type {
    color: var(--grey950);
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.initial-price span:nth-of-type(2) {
    background: var(--grey950);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    color: var(--grey50);
}

.price p {
    text-decoration: line-through;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}

/* Order buttons */
.order-line {
    display: flex; 
    flex-direction: row; 
    gap: 1rem;
}

.plus-minus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 3rem;
    padding: 0 1rem;
    background-color: var(--grey50);
    border-radius: 0.5rem;
}

.plus-minus button {
    border: none;
    background-color: var(--grey50);
    cursor: pointer;
}

.plus-minus span {
    color: var(--grey950);
    font-weight: 600;
    font-size: 1.1rem;
}

.cart {
    border: none; 
    background-color: var(--orange500);
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 66%;
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.cart:hover {
    background-color: var(--orange300);
}
 
.cart svg {
    margin-right: 1rem;
}

.cart svg path {
    fill: var(--grey950);
}

.cart span {
    color: var(--grey950);
    font-weight: 600;
    font-size: 1.05rem;
}


/* -------------------- Responsivness --------------------*/

@media screen and (max-width: 900px) {

    #mobile-menu-closed button {
        display: initial;
    }

    #desktop-menu ul {
        display: none;
    }

    main {
    padding: 3rem 0rem;
    display: flex; 
    flex-direction: column;
    }

    section {
        width: 100%;
    }

    .main-picture {
        width: 100%; 
        height: 30vh;
        object-fit: cover;
        object-position: center 65%;
        margin-bottom: 3rem;
    }

    .slider-button {
        display: initial;
    }

    .secondary-pictures {
        display: none;
    }

    section:nth-of-type(2) {
        margin: 0;
    }

    .plus-minus, .cart {
        width: 50%;
    }
}

@media screen and (max-width: 450px) {

    main {
        width: 100%;
        padding-top: 0;
    }

    hr {
        display: none;
    }
    
    .avatar{
        height: 2rem;
        padding-left: 1.5rem;
    }
    
    .main-picture {
        border-radius: 0;
    }

    section:nth-of-type(2) {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .price {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .price p {
        padding: 0;
    }
    
    .order-line {
        flex-direction: column; 
    }

    .plus-minus, .cart {
        width: 100%;
    }
}
